body {
    padding: 0;
    margin: 0;
    background-color: #F6F6F6;
}

form {
    float: right;
    margin-right: 2%;
    margin-top: 2%;
}

#droite {
    float: right;
}

#gauche {
    float: left;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

h2 {
    text-align: left;
}

h4 {
    text-align: center;
}

p {
    text-align: center;
}

#banniere {
    text-align: center;
    margin-top: 2%;
}

a {
    text-decoration: none;
}

h4 {
    color: white;
}

#comm {
    text-align: center;
}

header form {
    height: 100%;
    padding: 18px 0 0;
}

header form div {
    position: relative;
    display: inline-block;
}

header form .input {
    margin-bottom: 12px;
}

header form .input:focus {
    outline: none;
}

header form input[type='submit'] {
    border: none;
    background-color: #45a6f9;
    color: #fff;
    padding: 7px 19px;
}

header form input[type='submit']:hover {
    box-shadow: 1px 1px 3px #fff;
    -webkit-box-shadow: 1px 1px 3px #fff;
    -moz-box-shadow: 1px 1px 3px #fff;
    -o-box-shadow: 1px 1px 3px #fff;
    cursor: pointer;
}

header a {
    float: right;
    margin: 0 28% 20px 28%;
}

header a:hover {
    color: #45a6f9;
}

header {
    background-color: #444;
}


/*********** Logo ***********/

header h2 {
    padding: 8px 6px;
    font-size: 40px;
    color: #fff;
    height: 100%;
}

.clear {
    clear: both;
}

header {
    font-size: 12px;
    line-height: 16.8px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #607D8B;
    color: white;
}

.title {
    font-size: 3em;
}

.desc {}

.link {
    text-decoration: none;
    color: #efefef;
    float: right;
    display: inline-block;
    background-color: rgba(33, 150, 243, 0.37);
    padding: 5px 10px;
    transition: background-color .5s;
}

.link:hover {
    background-color: rgba(33, 150, 243, 1);
}

.w--content {
    width: 756px;
    margin: auto;
    position: relative;
    min-height: 190px;
    margin-top: 168px;
}

.w--description {
    display: flex;
    justify-content: space-between;
    background: #333;
    color: #eee;
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    border: 1px solid #668796;
    width: 100%;
}

.w--desc-con,
.w--desc-ins {
    padding: 20px;
}

.w--desc-con {
    width: 50%;
}

.w--desc-ins {
    width: 50%;
}

.w--form {
    justify-content: space-around;
    position: absolute;
    width: 49%;
    white-space: nowrap;
    overflow: hidden;
    left: 50%;
    transition: left .5s;
    top: 0;
    bottom: 0;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15);
    background-color: rgb(255, 255, 255);
}

.w--form-con,
.w--form-ins {
    color: #333;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    transition: margin-left .5s;
    height: 100%;
}

.w--form-con {}

.w--form-ins {
    margin-left: -100%;
}

.w--form-tag {
    padding-top: 1em;
}

.w--form-field {
    box-sizing: border-box;
    padding: 5px 10px;
    width: 100%;
    margin: 0;
    transform: translate(0, 50%);
}

.w--form-input,
.w--form-input:focus {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.5em;
    border: none;
    border-bottom: 1px solid #2196F3;
    outline: none;
}

.w--form-input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #2196F3;
}

.w--form-label {
    width: 20%;
    display: block;
    transform: translate( 0, -130%);
    padding-left: 0.4em;
    transition: transform .5s;
}

.w--form-input:focus~.w--form-label,
.w--form-input:-webkit-autofill~.w--form-label,
.w--form-input:not([value=""])~.w--form-label {
    transform: translate( 0, -260%);
}

.w--form-btn {
    float: right;
    border: 1px solid #00BCD4;
    background-color: #03A9F4;
    color: #fff;
    padding: 5px 11px;
    margin-top: 1.6em;
    margin-right: 0.2em;
}


/*****
  ____ _____  _  _____ _____
 / ___|_   _|/ \|_   _| ____|
 \___ \ | | / _ \ | | |  _|
  ___) || |/ ___ \| | | |___
 |____/ |_/_/   \_\_| |_____|

***/

.st--inscrip.w--content {}

.st--inscrip .w--description {}

.st--inscrip .w--desc-con,
.st--inscrip .w--desc-ins {}

.st--inscrip .w--desc-con {}

.st--inscrip .w--desc-ins {}

.st--inscrip .w--form {
    left: 1%;
}

.st--inscrip .w--form-con,
.st--inscrip .w--form-ins {}

.st--inscrip .w--form-con {}

.st--inscrip .w--form-ins {
    margin-left: 0;
}

.st--inscrip .w--form-tag {}

.st--inscrip .w--form-field {}

.st--inscrip .w--form-label {}

.st--inscrip .w--form-input {}

#mage {
    width: 1200px;
    height: 469px;
}